# https://github.com/ai/browserslist

Last 2 versions

# Desktop browsers
Chrome >= 52
Edge >= 12
Explorer >= 10
Firefox >= 47
Opera >= 38
Safari >= 8

# Mobile browsers
Android >= 4
BlackBerry >= 10
iOS >= 7
