doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title
      block title
    block links
  body
    block content
    block scripts
    if env.GA_ID
      include google-analytics
